.bottom-panel-content {
	height: 100%;
}

/* Tab bar */
.bottom-panel-tab-bar {
	width: 100%;
	overflow-x: auto;
	overflow-y: visible;
	padding: 4px 0;
}
.bottom-panel-tab-bar::-webkit-scrollbar {
	display: none;
}

/* Tabs */
.bottom-panel-tab {
	display: flex;
	align-items: center;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 1.25px;

	cursor: pointer;
	padding: 1px 8px;
	border-radius: 8px;
	background: var(--v-sidebarSelection-base);
	text-transform: uppercase;

	transition: transform 0.1s ease-in-out;
}
.bottom-panel-tab i {
	font-size: 18px !important;
}
.bottom-panel-tab-active {
	cursor: default;
	background: var(--v-primary-base);
	transform: scale(1.1);
}

/* Panel content */
.bottom-panel-content-container {
	/* Full height - tab bar height - tab bar padding - vertical padding */
	height: calc(100% - 39px - 8px);
	overflow-y: auto;
}
.bottom-panel-content-container-full-height {
	height: 100%;
}
