.solid-ripple-container {
	position: relative;
	overflow: hidden;
}

.solid-ripple {
	position: absolute;
	background: #fff;

	transform: translate(50%, 50%) scale(0);

	pointer-events: none;
	animation: solid-ripple-anim 0.3s ease-in-out;
	opacity: 0.4;
}

@keyframes solid-ripple-anim {
	to {
		transform: translate(50%, 50%) scale(1);
		opacity: 0;
	}
}
